body { font-family: Verdana, Arial, Helvetica, sans-serif}
p {font-size: 12px; color: #000000; text-decoration: none; font-weight: normal}
ul {margin-left: 0; padding-left: 0; list-style: none; font-size: 14px}
li {font-size: 12px; padding-left: 10px; background-image: url(gfx/ul.gif); background-repeat: no-repeat; background-position: 0px 4px;}
li.leftnavmenu {background-position: left center;}

a:link {color: #001177; text-decoration: none}
a.content:link {color: #001177; text-decoration: underline}
a:visited {color: #001177; text-decoration: none}
a:hover {color: #001177; text-decoration: underline}
a:active {color: #001177; text-decoration: underline}

h1 {font-size: 20px; color: #777777; font-weight: bold}
h2 {font-size: 12px; color: #555555; font-weight: bold}

.copy {font-size: 12px; color: #000000; text-decoration: none; font-weight: normal}
.serif {font-family: "Times New Roman", Times, serif;}
.large {font-size: 14px}
.medium {font-size: 12px}
.small {font-size: 10px}

.red {color: #9B121F}
.blue {color: #001177}
.twitterblue {color: #4099FF}
.gray {color: #999999}
.white {color: #FFFFFF}
.green {color: Green;}

.b {font-weight: bold}
.c {text-align: center}
.l {text-align: left}
.r {text-align: right}

.indent {padding-left: 25px}
.sidepad, .pad {padding-left: 12px; padding-right: 12px}
.tbpad, .pad {padding-top: 12px; padding-bottom: 12px}
.rowpad {padding-top: 3px; padding-bottom: 3px}
.border {border: 1px solid #DDDDDD}
.bggray {background-color: #DDDDDD}
.nou {text-decoration: none}
.u {text-decoration: underline}
.hilite {background-color: #FFFFCC;}
.hilite_strong {background-color: #FFFF99;}
.hide {display: none}

.tdot {padding-bottom: 10px; padding-top: 9px; border-bottom: 1px dotted #BBBBBB;}
.quote {color: #777777; padding-left: 12px; padding-right: 12px; font-size: 12px;}

input.searchbutton { height: 26px; width: 26px; background-color: #999999; background:url("./gfx/magnifyingglass.jpg") no-repeat}
table.searchResults { border: 0px; border-spacing: 0px; padding-left: 25px; font-size: 12px;}
	tr.searchResults:nth-of-type(odd) { background-color: #F6F6F6;}
	td.searchResults { padding: 3px 12px}
	td.searchResults:last-child  { white-space: nowrap; font-size: 10px; }
	tr.blueHR { background-color:#6699CC; }
	td.blueHR { padding: 0px; }
#headerSearchForm { text-align: right; margin-bottom: 0px;}
#headerSearchBox { color: #999999; font-style:italic; height: 26px; border-style: outset; vertical-align: bottom  }
#headerSearchButton { vertical-align: bottom; padding:0 }
#newConversationLink { font-size: 10px; padding-left:72px; padding-top:7px }
