body { font-family: Verdana, Arial, Helvetica, sans-serif}
p {font-size: 12px; color: #000000; text-decoration: none; font-weight: normal}
ul {margin-left: 0; padding-left: 0; list-style: none; font-size: 14px; 
    display: inline-block}
li {font-size: 12px; padding-left: 10px; background-image: url(gfx/ul.gif); background-repeat: no-repeat; background-position: 0px 4px;}

#leftnavmenu {background-color: #DDDDDD; padding: 5px;}
	p.leftnavmenu {padding-left: 10px; padding-top: 7px; width: 120px;}
	li.leftnavmenu {background-position: left center;}
#bodycontent {padding: 5px;}

textarea.comment {
    width: 100%;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

a:link {color: #001177; text-decoration: none}
a.content:link {color: #001177; text-decoration: underline}
a:visited {color: #001177; text-decoration: none}
a:hover {color: #001177; text-decoration: underline}
a:active {color: #001177; text-decoration: underline}

h1 {font-size: 20px; color: #777777; font-weight: bold}
h2 {font-size: 12px; color: #555555; font-weight: bold}

div.hrnoshade {width: 100%; height: 0px; border-top: 1px solid #DDDDDD; background: #DDDDDD; overflow: hidden; margin-top:6px; margin-bottom:6px;}

.copy {font-size: 12px; color: #000000; text-decoration: none; font-weight: normal}
.serif {font-family: "Times New Roman", Times, serif;}
.large {font-size: 14px}
.medium {font-size: 12px}
.small {font-size: 10px}

.red {color: #9B121F}
.blue {color: #001177}
.twitterblue {color: #4099FF}
.gray {color: #999999}
.white {color: #FFFFFF}
.green {color: Green;}

.b {font-weight: bold}
.c {text-align: center}
.l {text-align: left}
.r {text-align: right}

.indent {padding-left: 25px}
.sidepad, .pad {padding-left: 12px; padding-right: 12px}
.tbpad, .pad {padding-top: 12px; padding-bottom: 12px}
.rowpad {padding-top: 3px; padding-bottom: 3px}
.border {border: 1px solid #DDDDDD}
.bggray {background-color: #DDDDDD}
.nou {text-decoration: none}
.u {text-decoration: underline}
.hilite {background-color: #FFFFCC;}
.hilite_strong {background-color: #FFFF99;}
.hide {display: none}

.tdot {padding-bottom: 10px; padding-top: 9px; border-bottom: 1px dotted #BBBBBB;}
.quote {color: #777777; padding-left: 12px; padding-right: 12px; font-size: 12px;}

.searchbutton { height: 26px; width: 26px; background-color: #999999; background:url("./gfx/magnifyingglass.jpg") no-repeat}
table.searchResults { border: 0px; border-spacing: 0px; font-size: 12px;}
	tr.searchResults:nth-of-type(odd) { background-color: #F6F6F6;}
	td.searchResults { padding: 3px 12px}
	td.searchResults:last-child  { white-space: nowrap; font-size: 10px; }
	tr.blueHR { background-color:#6699CC; }
	td.blueHR { padding: 0px; }	/* requires td to have colspan = 2 and contain <img width="1" border="0" height="1" src="gfx/-.gif">*/
#headerSearchForm { text-align: right; margin-bottom: 0px;}
#headerSearchBox { color: #999999; font-style:italic; height: 26px; border-style: outset; vertical-align: bottom  }
#headerSearchButton { vertical-align: bottom; padding:0 }
	
.tableExpander { text-align: center; font-style: italic; border: 1px; font-size: 10px;}

.markread{ margin-bottom: 0px; }

#newConversationLink { font-size: 10px; padding-left:72px; padding-top:7px }

.popupMessage { background-color: #6699CC; color: white; border: 0px solid #7B7979; border-radius: 3px; float: left; font-size: 14px; padding:13px; 	    -webkit-box-shadow: 0px 0px 8px -1px rgba(56, 56, 56, 1);
	  -moz-box-shadow: 0px 0px 8px -1px rgba(56, 56, 56, 1);
       box-shadow: 0px 0px 8px-1px rgba(56, 56, 56, 1);}
.toast { display: none; }
.toastOptionButton { 	float: right; font-size:14px;
	text-decoration: none; transition: all 0.2s ease 0s;}
.toastOptionButton:hover { background-color: #001177; }
.toastOptionButton:active { background-color: #001177; }
#undoArrow { filter:invert(1); margin-right:0.5em; height:14px; -webkit-filter: invert(100%); margin-top: 3px; margin-bottom: -3px;}

.commentContainer {padding-bottom: 15px;}
.commentContents img { width: auto; }
img.squashed { 
	width: 100%; 
	height: auto;
	cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}
